* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #707bb8;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    perspective: 10em;
    perspective-origin: 50% calc(50% - 1em);
    transform-style: preserve-3d;
    overflow: hidden;
}

/* Global variables */
:root {
    --pencil-size: 3vmin;
}

#scene {
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(40deg);
}

a:hover {
    cursor:pointer;
}

.arrow-link {
    display: none;
    position: absolute;
    top: 25%;
    right: 10vmin;
}

/* 

BASIC BOX FOUNDATION

*/
.box {
    width: 2em;
    height: 2em;
    background: var(--front-back-color);
    transform-style: preserve-3d;
}

.box:before,
.box:after {
    content: "";
    width: var(--zdepth);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--side-color);
    transform: rotateY(-90deg);
    transform-origin: 0 100%;
}

.box:after {
    left: auto;
    right: 0;
    transform-origin: 100% 0%;
    transform: rotateY(90deg);
}

.box>div {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--front-back-color);
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, var(--zdepth));
    transform-style: preserve-3d;
}

.box>div:before,
.box>div:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--top-bot-color);
    width: 100%;
    height: var(--zdepth);
    transform-origin: 50% 0%;
    transform: rotateX(-90deg);
}

.box>div:after {
    bottom: 0;
    top: auto;
    transform-origin: 0% 100%;
    transform: rotateX(90deg);
}

/* 

BASIC PYRAMID FOUNDATION

*/
.pyramid-container {
    transform: translateZ(-2vmin) rotateY(20deg) rotateX(270deg) translateZ(calc(var(--pencil-size) / 2 * -1)) translateY(calc(var(--pencil-size) / 2 * -1));
    transform-style: preserve-3d;
}
.pyramid {
    width: var(--pencil-size);
    height: var(--pencil-size);
    /* bottom: -1em; */
    /* left: -1em; */
    /* position: relative; */
    background: var(--front-back-color);
    transform-style: preserve-3d;
}

.pyramid:before,
.pyramid:after {
    content: "";
    position: absolute;
    border: calc(var(--pencil-size) * 0.5) solid transparent;
    border-bottom: var(--pencil-size) solid;
    border-bottom-color: var(--side-color);
    border-top: 0px;
    transform: rotateY(90deg) rotateZ(-90deg) rotateX(-30deg);
    transform-origin: 0 100%;
}

.pyramid:after {
    left: auto;
    right: 0;
    transform-origin: 100% 0%;
    transform: rotateY(90deg) rotateZ(-90deg) rotateX(30deg) translateY(calc(var(--pencil-size) * -1));
}

.pyramid>div {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(194, 135, 135);
    width: 100%;
    height: 100%;
    transform: rotateZ(90deg);
    transform-style: preserve-3d;
}

.pyramid>div:before,
.pyramid>div:after {
    content: "";
    position: absolute;
    border: calc(var(--pencil-size) * 0.5) solid transparent;
    border-bottom: var(--pencil-size) solid;
    border-bottom-color: var(--front-back-color);
    border-top: 0px;
    transform: rotateY(90deg) rotateZ(-90deg) rotateX(30deg) translateY(calc(var(--pencil-size) * -1));
    transform-origin: 100% 0;
}

.pyramid>div:after {
    left: auto;
    right: 0;
    transform-origin: 0 100%;
    transform: rotateY(90deg) rotateZ(-90deg) rotateX(-30deg);
}

/* PENCIL STRUCTURE */
.pencil-container {
    position: relative;
    left: 35vmin;
    transform: translateZ(5vmin);
    transform-style: preserve-3d;
    /* border: 1px solid black; */
    /* transition: 0.5s; */
}

.pencil-container:not(.no-hover):hover {
    cursor: pointer;
    animation-duration: 0.4s;
    animation-name: shake-pencil;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes shake-pencil{
    0%,100% {
        transform: translateZ(5vmin) rotateZ(0deg);
    }   

    20% {
        transform: translateZ(5vmin) rotateZ(4deg);
    }

    40% {
        transform: translateZ(5vmin) rotateZ(0deg);
    }

    60% {
        transform: translateZ(5vmin) rotateZ(-4deg);
    }

    80% {
        transform: translateZ(5vmin) rotateZ(0deg);
    }
}

.pencil-spin {
    animation-duration: 1s;
    animation-name: spin-pencil;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

@keyframes spin-pencil {
    0% {
        transform: translateZ(5vmin) rotateZ(0deg);
    }

    50% {
        transform: translateZ(10vmin) rotateZ(720deg);
    }

    100% {
        transform: translateZ(5vmin) rotateZ(1440deg);
    }
}

.wood {
    --front-back-color: rgb(189, 138, 43);
    --side-color: rgb(203, 147, 43);
    --top-bot-color: rgb(101, 101, 101);
    --zdepth: var(--pencil-size);
    /* position the pencil */
    bottom: 0;
    width: var(--pencil-size);
    height: 35vmin;
    transform: translateZ(-2vmin) rotateY(20deg);
}

.cap {
    --front-back-color: rgb(243, 213, 157);
    --side-color: rgb(239, 217, 176);
    --top-bot-color: rgb(101, 101, 101);
    --zdepth: var(--pencil-size);
    /* position the cap */
    top: 0;
    width: var(--pencil-size);
    height: 4vmin;
    transform: translateZ(-2vmin) rotateY(20deg);
}

.eraser {
    --front-back-color: rgb(242, 92, 92);
    --side-color: rgb(241, 104, 104);
    --top-bot-color: rgb(240, 135, 135);
    --zdepth: var(--pencil-size);
    /* position the eraser */
    top: 0;
    width: var(--pencil-size);
    height: 2.5vmin;
    transform: translateZ(-2vmin) rotateY(20deg);
}

.tip {
    /* 
    linear-gradient(rgb(161, 127, 76), hsl(0, 0%, 20%))
    */
    /* 
    linear-gradient(rgb(161, 127, 76), hsl(0, 0%, 20%))
    */
    --front-back-color: rgb(161, 127, 76);
    --side-color:rgb(150, 118, 70); 
    --top-bot-color: rgb(161, 127, 76);
    /* position the tip */
    top: 0;
    width: var(--pencil-size);
    height: var(--pencil-size);
}

.desk {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: -100;
    width: 400vw;
    height: 400vh;
    background-color: rgb(75, 59, 33);
    background-image: url(../images/wood-pattern.png);
}

/* Paper */
.paper {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vmin;
    height: 130vmin;
    background-color: #fff;
    /* Lined paper */
    background-image:
            linear-gradient(90deg, transparent .7em, #af5f5f .7em, #af5f5f .72em, transparent .73em),
            linear-gradient(#e1f1fb .05em, transparent .05em);
    background-size: 100% 0.6em;
    transform-style: preserve-3d;
    /* border: 2px solid black; */
    /* z-index: 1; */
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.paper:hover {
    cursor: pointer;
}

.paper-slide {
    transform: translate(-50%, -50%) translate3d(-20vmin, 0, 0);
}

#text {
    z-index: 100;
    /* display: none; */
    position: absolute;
    top: 0;
    font-size: 18px;
    color: #dfdfdf;
    text-align: center;
    transform-style: preserve-3d;
}